<br><br><br>
<div class="container" >
   <blockquote class="card-blockquote book-card">
<table class="table table-hover text-center">
    <thead>
              <tr>
                <th colspan="2" class="text-center">
                  <span>{{houseC.House.name}}</span>
                </th>
              </tr>
     </thead>

<tr class="clickable-row " >

<td>Aliases:</td>
<td><p ng-repeat="seat in houseC.House.seats">{{seat}}</p> </td>
</tr>

<tr class="clickable-row" >
<td>Coat of Arms:</td>
<td>{{houseC.House.coatOfArms}}</td>	
</tr>

<tr class="clickable-row" >
<td>Region:</td>
<td>{{houseC.House.region}}</td>	
</tr>
<tr class="clickable-row" >
<td>Words:</td>
<td>{{houseC.House.words}}</td>	
</tr>


<tr class="clickable-row" >
<td>Founded:</td>
<td>{{houseC.House.founded}}</td>	
</tr>

</table>
</blockquote>
  
<div class="text-center row"><button class=" btn  text-center"><a href="index.html#!/">Go Back</a></button></div>
  </div>

<br>
